:root {
  --primary-color: #5e44ff;
  --button-color: #1a1a2c;
  --hover-button-color: #5f5f76;
}

* {
  font-family: Inter;
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #f6f6fd;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 44px;
}

h3 {
  font-size: 24px;
}

a {
  font-size: 16px;
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

button {
  color: white;
  background-color: var(--button-color);
	cursor: pointer;
  border: 0px;
  border-radius: 16px;
  font-size: 16px;
}

button:hover {
  background-color: var(--hover-button-color);
}

nav {
  padding: 12px 80px;
  margin: 24px;
  border-radius: 99px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0 4px 20px 0 #9379ca0d;
}

nav a {
  padding: 0px 24px;
	font-weight: 500;
}

nav .logo {
  height: 40px;
}

.hero-section {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.hero-section .app-title {
  padding: 8px 20px;
  border-radius: 99px;
  font-size: 16px;
  color: var(--primary-color);
  background-color: #563aff1a;
}

.hero-section .product {
  color: var(--primary-color);
}

.hero-section button {
  width: 187px;
  height: 56px;
  padding: 16px 36px;
}

  .feature-section {
      color: var(--button-color);
      padding: 60px 0;
      background-color: #f7f9fc;
  }

  .feature-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;}

  .feature-box {
    flex: 1 1 300px; 
    background-color: #ffffff;
    border-radius: 12px; 
    padding: 30px; 
    text-align: left;
    }

    .icon-wrap {
      background-color: #e6f0ff;
      width: 60px;
      height: 60px;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
  }

    .feature-box h3 {
      font-size: 1.2rem;
      margin-bottom: 10px;
    }

    .icon-wrap img {
      width: 60%;
      height: 60%;
    }

    .feature-box p {
      font-size: 0.9rem;
      color: #666;
      line-height: 1.4;
    }

       .feature-box:nth-child(1) .icon-wrap {background-color: #eef0ff; }
       .feature-box:nth-child(2) .icon-wrap {background-color: #e0f7fa; }
       .feature-box:nth-child(3) .icon-wrap {background-color: #ffecf9; }

       .feature-box h3 {
        font-size: 1.3rem; 
        margin-bottom: 12px;
    }
    
    .feature-box p {
        font-size: 0.95rem; 
        line-height: 1.5;
    }
.contact-section {
  
  flex-grow: 1;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
 }

.form-title{
 text-align: center;
}

 .contact-card {
    background-color: white;
    padding: 40px;
    border-radius: 15px; 
    width: 1199px;
    height: 666px;
    gap: 30px;
}

.contact-card h2 {
    color: #1a1a2e;
    font-size: 28px;
    margin-bottom: 30px;
    font-weight: 600;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    color: #4b4b4b; 
}

contact-card form {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 16px;
    gap: 30px;

}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-sizing: border-box; 
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s;
}

input:focus,
textarea:focus {
    border-color: #5a5789; 
    outline: none;
}

textarea {
    resize: vertical; 
}


button[type="submit"] {
    background-color: #2c2c42; 
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    margin-top: 10px;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #1a1a2e; 
}




.footer {
    padding: 24px 40px;
    color: #1A1A2C;
    font-size: 16px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    
}

.footer-links a {
    color: #1A1A2C;
    text-decoration: none;
    margin-left: 20px;
    
}

.footer-links a:hover {
    color: #1A1A2C;
}